.gradient-custom-2 {
  background: #6a11cb;

  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100% !important;
  }

  .size {
    height: 100vh !important;
    width: 100vw !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
